<template>
  <div>
    <h1 class="remark">Nuxt3 about page</h1>
    <p class="btn" @click="visit">Visits: {{ visits }}</p>
  </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";

function timeout(ms: number) {
  return new Promise((resolve) => setTimeout(resolve, ms));
}

async function getFromBackend() {
  // eslint-disable-next-line no-console
  console.log("Requesting data to backend...");
  await timeout(10);
  // eslint-disable-next-line no-console
  console.log("Got data from backend...");
  return 10;
}

const visits = ref(0);

function visit() {
  visits.value = visits.value + 1;
}
</script>

<style lang="scss" scoped>
.remark {
  color: #00ff00;
}

.btn {
  cursor: pointer;
  border-style: solid;
}
</style>
