<template>
  <div>
    <h2 class="highlight">Server Side Rendered page with Nuxt 2!</h2>
    <p class="clickable" @click="count">Count: {{ counter }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

function timeout(ms: number) {
  return new Promise((resolve) => setTimeout(resolve, ms));
}

async function getFromBackend() {
  // eslint-disable-next-line no-console
  console.log("Requesting data to backend...");
  await timeout(10);
  // eslint-disable-next-line no-console
  console.log("Got data from backend...");
  return 10;
}

export default defineComponent({
  name: "Home",
  async asyncData() {
    const counter = await getFromBackend();
    return {
      counter,
    };
  },
  data() {
    return {
      counter: 0,
    };
  },
  methods: {
    count() {
      this.counter = this.counter + 1;
    },
  },
});
</script>

<style lang="scss" scoped>
.highlight {
  color: #00ff00;
}

.clickable {
  cursor: pointer;
  border-style: solid;
}
</style>
